.box-item {
    margin: 20px 0;
}

.box-link {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box-img {
    margin: auto;
    width: 40%;
}

.box-frecuency {
    font-size: 90%;
    font-weight: bold;
    color: var(--primary-dark-color);
}