<div class="boxes">
    <ul class="box-list">
        <li class="box-item">
            <a class="box-link" routerLink="/boxes/1">
                <img class="box-img" src="/assets/img/box.svg">
                <div class="box-frecuency">Every day</div>
            </a>
        </li>
        <li class="box-item">
            <a class="box-link" routerLink="/boxes/2">
                <img class="box-img" src="/assets/img/box.svg">
                <div class="box-frecuency">Every 3 day</div>
            </a>
        </li>
        <li class="box-item">
            <a class="box-link" routerLink="/boxes/3">
                <img class="box-img" src="/assets/img/box.svg">
                <div class="box-frecuency">Every week</div>
            </a>
        </li>
        <li class="box-item">
            <a class="box-link" routerLink="/boxes/4">
                <img class="box-img" src="/assets/img/box.svg">
                <div class="box-frecuency">Every fortnight</div>
            </a>
        </li>
    </ul>
</div>